body {
    background-color: #202040;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.gen-divider {
    border: 0; 
    height: 2px; 
    background-image: -webkit-linear-gradient(left, rgba(0, 0 , 0 ,0), white, rgba(0, 0 , 0 ,0));
    /* background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);  */
    width: 20%;
}

/* .gen-divider:after {
	content: '\002665';
	display: inline-block;
	position: relative;
	top: -15px;
	padding: 0 10px;
	background: #f0f0f0;
	color: #8c8b8b;
	font-size: 18px;
} */


/* Desktop version */
@media only screen and (min-width:768px){
    /* desktop */
    .mobile {
        display: none;
    }



    /* top header */

    .top-header {
        background-color: black;
        height: 60px;
        width: 100%;
    }


    /* banner */


    /* background image for banner */

    img.d-block.w-100 {
        height: 519px;
    }


    /* about section */

    .about-section {
        clear: both;
    }

    .about-left {
        background-color: #ffe;
        width: 50%;
        float: left;
        clear: right;
        padding: 8% 0;
    }

    .about-left>img {
        width: 70%;
        margin-left: 12%;
    }

    .about-right {
        width: 50%;
        float: right;
        padding: 0 5%;
        padding-top: 15%;
    }

    .about-right>p {
        margin-top: 9%;
    }

    /* superior traders operation */
    #s-t-o-background {
        clear: both;
        background: linear-gradient(106deg, rgba(32,32,64,1) 0%, rgba(0,0,0,1) 35%, rgba(96,32,128,1) 70%, rgba(176,48,176,1) 93%);
        height: 700px;
    }
    #s-t-o-header {
        font-size: 220%;
        font-weight: bold;
        padding: 4% 0;
        padding-top: 8%;
    }

    .services-image{
        background-color: white;
        width: 100px;
        height: 100px;
        margin: 0 auto;
        border-radius: 50%;
        padding-top: 8%;
    }

    .services-image > svg {
        color: black;
        font-size: 250%;
        z-index: 5;
    }

    .services-message > h4 {
        padding: 7%;
        font-weight: bold;
    }

    .services-message > span {
        font-weight: 300;
    }

    /* plans */

    .plans {
        background-color: #602080;
        padding: 5% 0
    }

    .plan-body {
        background-color: #b030b0;
        -webkit-box-shadow: 21px 26px 24px 3px rgba(0, 0, 0, 0.44);
        -moz-box-shadow: 21px 26px 24px 3px rgba(0, 0, 0, 0.44);
        box-shadow: 21px 26px 24px 3px rgba(0, 0, 0, 0.44);
        padding: 16% 0;
    }

    .plan-header {
        font-size: 240%;
        margin-bottom: 5%;
        text-transform: uppercase;
    }

    .plan-header-inner {
        font-size: 170%;
        font-weight: bold;
        text-transform: uppercase;
    }

    .plan-amount {
        font-size: 160%;
        margin: 12% 0;
        margin-top: 15%;
    }

    .plan-body>p {
        font-size: 80%;
        font-weight: 4z00;
    }


    /* crypto & support section */

    .btc-sect {
        float: left;
        /* clear: right; */
        width: 50%;
        padding-left: 3%;
    }

    .btc-sect>h2 {
        margin: 5% 0;
        text-transform: uppercase
    }

    #support-section {
        float: right;
        background: linear-gradient(321deg, #222 50%, #000 50%);
        width: 50%;
        height: 545px;
        padding-top: 18%;
        /* padding-left: 19%; */
    }

    #support-section>h3 {
        font-size: 220%;
        text-transform: uppercase;
    }

    #support-section>span {
        font-size: 130%;
        margin-top: 4%;
        letter-spacing: -1px;
        font-weight: 200;
    }


    /* footer */

    footer {
        padding-top: 6%;
        clear: both;
        background-color: #202060;
        height: 350px;
    }

    #about-footer>a {
        display: block;
    }

    #copyright {
        background-color: black;
        width: 100%;
        height: 70px;
        padding-top: 2%;
    }

    #column-1>h3,
    .column-2>h3,
    #column-3>h3,
    #column-4>h3 {
        margin-bottom: 8%;
        font-size: 160%;
        text-transform: capitalize;
    }

    #column-1>p {
        font-weight: 300;
        font-size: 85%
    }

    .column-2>a {
        color: #ccc;
        font-size: 90%;
        margin-bottom: 3%;
    }

    .column-2>a:hover,
    #column-4>a:hover {
        color: white;
        text-decoration: none;
    }


    /* social */

    #column-4>h3 {
        margin-bottom: 26%;
    }

    #column-4>a {
        margin-right: 7%;
        color: #ccc;
        font-size: 140%;
        /* display: block; */
    }

    section>p {
        margin-bottom: 0;
        font-weight: 200;
    }

    section>span {
        font-size: 80%;
    }


    /* login page */

    #login-main-background {
        background: linear-gradient(106deg, rgba(32, 32, 64, 1) 00%, rgba(176, 48, 176, 1) 60%);
        width: 100%;
        height: 100vh;
        padding-top: 5%;
    }

    #login-form-area {
        background-color: white;
        width: 60%;
        height: 500px;
        margin: 0 auto;
    }

    #login-img {
        float: left;
        clear: right;
        width: 50%;
        height: 500px;
        background: url('/frontend/static/images/beach-calm-clouds-coast-457881.jpg');
    }

    #login-form {
        width: 50%;
        float: right;
        color: black;
        margin-top: 12%;
    }

    #login-form>h3 {
        margin-bottom: 13%;
    }

    .sign-in-button {
        margin: 3% 0%;
        width: 100%;
        border-radius: 0;
    }

    .form-control {
        border-radius: 0;
    }

    .col-lg-6 {
        margin-bottom: 4%;
    }


    /* dashboard */


    /* home */

    #sidebar {
        height: 1400px;
    }


    /* greetings */

    .greetings {
        margin: 5% 0;
    }

    .greeting-name>h3 {
        color: white;
        font-weight: 800;
    }

    .greeting-name>span {
        font-size: 120%;
    }

    .greeting-name>img {
        width: 4%;
    }

    .greeting-name {
        float: left;
        clear: right;
    }

    .account-profile-circle {
        float: right;
        background-color: white;
        border-radius: 50%;
        width: 60px;
        height: 60px;
    }

    .account-profile-circle>i {
        margin: 34% 36%;
        color: black;
        font-size: 137%
    }


    /* account information */

    .balance-information {
        padding-top: 3%;
        clear: both;
        /* display: inline-block; */
    }

    #account-balance,
    #invested,
    #account-type {
        width: 30%;
        margin: 1.3% 0;
        margin-right: 3%;
        padding: 3%;
        float: left;
        clear: right;
    }

    #account-balance>h5,
    #invested>h5,
    #account-type>h5 {
        font-size: 115%;
    }

    #account-balance {
        background-color: #3c6562;
    }

    #invested {
        background-color: #ed6363;
    }

    #account-type {
        background-color: #63ed63;
    }

    .line-under {
        border-bottom: 1px solid white;
        width: 50%;
    }

    .amount {
        font-size: 180%;
    }

    hr {
        border: 1px solid white;
    }


    /* charting */

    .chart {
        clear: both;
    }

    .forex-widget {
        padding-left: 6%;
    }


    /* notification */

    #notification-main {
        border: 1px solid white;
        border-radius: 3px;
        padding: 4%;
    }

    #notification-header {
        color: white;
        font-size: 150%;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin: 4% 0;
    }

    .notification-body {
        margin: 2%
    }

    .notification-amount {
        padding-left: 9%;
    }

    .success {
        color: #70C869
    }

    .error {
        color: #F54F52;
    }


    /* account settings */

    .account-settings {
        background: url('../images/architecture-buildings-business-city-290595.jpg');
        width: 100%;
        height: 170px;
    }

    .img-white-background {
        width: 100px;
        height: 100px;
        background-color: white;
        float: left;
        clear: right;
        margin: 3%;
    }

    #settings-account-type {
        color: white;
        background: black;
        font-weight: 600;
        padding: 8% 11%;
    }

    #account-name-title {
        float: left;
        margin-top: 4.5%;
    }

    #setting-navigation {
        background-color: white;
    }

    .profile-detail-box {
        background-color: white;
        height: 50px;
        color: black;
        padding: 3%;
        margin-bottom: 5%;
    }

    .profile-title {
        background-color: #70C869;
        padding: 10%;
    }

    .profile-name {
        font-size: 110%;
        /* text-transform: uppercase; */
    }

    #account-section {
        margin: 3% 0;
    }


    /* password */

    #change-password-header {
        background-color: white;
        width: 100%;
        color: black;
        height: 40px;
        padding-left: 3%;
        padding-top: 2%;
        margin-top: 3%;
    }

    #change-password-header>span {
        font-size: 110%;
        font-weight: bold;
    }


    /* rules and agreements */
    #rules-agreement-parallax{
        background: url('../images/office-chair.jpg');
        height: 150px;
        background-position: fixed;
        background-size: cover;
    }

    #rules-agreement-parallax > h3 {
        padding-top: 6%;
        font-size: 180%;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px;
    }

    .rules-agreement {
        margin:5% 0;
    }

    .rules-agreement > p {
        line-height: 30px;
        font-weight: 300;
        font-size: 89%;
    }

    /* about us  */
    #about-parallax{
        background: url('../images/office-chair.jpg');
        height: 150px;
        background-position: fixed;
        background-size: cover;
    }

    #about-parallax > h3 {
        padding-top: 6%;
        font-size: 180%;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px;
    }

    .about {
        margin:5% 0;
    }

    .about > p {
        line-height: 30px;
        font-weight: 300;
        font-size: 89%;
    }

    /* office layout */
    #office-layout-parallax {
        height: 800px;
        background: url('../images/adults-airport-architecture-blur-518244.jpg');
        background-position: fixed;
        background-size: cover;

    }
}
















/* Mobile version */
@media only screen and (max-width:768px){
    /* mobile show */
    .desktop {
        display: none;
    }

    /* top header */

    .top-header {
        background-color: black;
        height: 60px;
        width: 100%;
    }


    /* banner */


    /* background image for banner */

    img.d-block.w-100 {
        height: 519px;
    }


    /* about section */

    .about-section {
        clear: both;
    }

    .about-left {
        background-color: #ffe;
        float: left;
        clear: right;
        padding: 8% 0;
    }

    .about-left>img {
        width: 70%;
        margin-left: 12%;
    }

    .about-right {
        float: right;
        padding: 0 5%;
        padding-top: 15%;
    }

    .about-right>p {
        margin-top: 9%;
    }

    /* superior traders operation */
    #s-t-o-background {
        clear: both;
        background: rgb(32,32,64);
        background: linear-gradient(106deg, rgba(32,32,64,1) 0%, rgba(0,0,0,1) 35%, rgba(96,32,128,1) 70%, rgba(176,48,176,1) 93%);
        padding: 5% 0;
        line-height: 2;
    }
    #s-t-o-header {
        font-size: 220%;
        font-weight: bold;
        padding: 4% 0;
        padding-top: 8%;
    }

    .services-image{
        background-color: white;
        width: 100px;
        height: 100px;
        margin: 0 auto;
        border-radius: 50%;
        padding-top: 8%;
    }

    .services-image > svg {
        color: black;
        font-size: 250%;
        z-index: 5;
    }

    .services-message {
        margin: 10% 0;
    }

    .services-message > h4 {
        font-weight: bold;
    }

    .services-message > span {
        font-weight: 300;
        font-size: 90%;
    }

    /* plans */

    .plans {
        clear: both;
        background-color: #602080;
        padding: 5% 0
    }

    .plan-body {
        background-color: #b030b0;
        -webkit-box-shadow: 21px 26px 24px 3px rgba(0, 0, 0, 0.44);
        -moz-box-shadow: 21px 26px 24px 3px rgba(0, 0, 0, 0.44);
        box-shadow: 21px 26px 24px 3px rgba(0, 0, 0, 0.44);
        padding: 16% 0;
        margin: 12% 0;
    }

    .plan-header {
        font-size: 240%;
        margin-bottom: 5%;
        text-transform: uppercase;
        text-align: center;
    }

    .plan-header-inner {
        font-size: 170%;
        font-weight: bold;
        text-transform: uppercase;
    }

    .plan-amount {
        font-size: 160%;
        margin: 12% 0;
        margin-top: 15%;
    }

    .plan-body>p {
        font-size: 80%;
        font-weight: 4z00;
    }


    /* crypto & support section */

    .btc-sect {
        padding-left: 3%;
    }

    .btc-sect>h2 {
        margin: 5% 0;
        text-transform: uppercase
    }

    #support-section {
        background: linear-gradient(322deg, #222 50%, #000 50%);
        height: 330px;
        padding-top: 25%;
        /* padding-left: 19%; */
    }

    #support-section>h3 {
        font-size: 220%;
        text-transform: uppercase;
    }

    #support-section>span {
        font-size: 130%;
        margin-top: 4%;
        letter-spacing: -1px;
        font-weight: 200;
    }


    /* footer */

    footer {
        padding-top: 6%;
        background-color: #202060;
        text-align: center;
    }

    #about-footer>a {
        display: block;
    }

    #copyright {
        background-color: black;
        width: 100%;
        height: 100px;
        padding-top: 6%;
    }

    #column-1>h3,
    .column-2>h3,
    #column-3>h3,
    #column-4>h3 {
        margin: 4% 0;
        font-size: 145%;
        text-transform: uppercase;
    }

    #column-1>p {
        font-weight: 300;
        font-size: 85%
    }

    .column-2>a {
        color: #ccc;
        font-size: 90%;
        margin-bottom: 3%;
    }

    .column-2>a:hover,
    #column-4>a:hover {
        color: white;
        text-decoration: none;
    }


    /* social */

    #column-4 {
        margin-bottom: 4%;
    }

    #column-4>a {
        margin-right: 3%;
        color: #ccc;
        font-size: 110%;
        /* display: block; */
    }

    section>p {
        margin-bottom: 0;
        font-weight: 200;
    }

    section>span {
        font-size: 80%;
    }


    /* login page */

    #login-main-background {
        background: linear-gradient(106deg, rgba(32, 32, 64, 1) 00%, rgba(176, 48, 176, 1) 60%);
        width: 100%;
        padding: 13% 0;
    }

    #login-form-area {
        background-color: white;
        width: 85%;
        /* height: 595px; */
        margin: 0 auto;
        padding-bottom: 6%;
    }

    #login-img {
        height: 150px;
        background: url('/frontend/static/images/beach-calm-clouds-coast-457881.jpg');
    }

    #login-form {
        color: black;
        margin-top: 12%;
    }

    #login-form>h3 {
        margin-bottom: 13%;
    }

    .sign-in-button {
        margin: 3% 0%;
        width: 100%;
        border-radius: 0;
    }

    .form-control {
        border-radius: 0;
    }

    .col-lg-6 {
        margin-bottom: 4%;
    }


    /* dashboard */


    /* home */

    #sidebar {
        height: 1400px;
    }


    /* greetings */

    .greetings {
        margin: 5% 0;
    }

    .greeting-name>h3 {
        color: white;
        font-weight: 800;
    }

    .greeting-name>span {
        font-size: 120%;
    }

    .greeting-name>img {
        width: 4%;
    }

    /* .greeting-name {
        float: left;
        clear: right;
    } */

    .account-profile-circle {
        float: right;
        background-color: white;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        margin-top: -20%;
    }

    .account-profile-circle>i {
        margin: 34% 36%;
        color: black;
        font-size: 137%
    }


    /* account information */

    .balance-information {
        padding-top: 3%;
        clear: both;
        /* display: inline-block; */
    }

    #account-balance,
    #invested,
    #account-type {
        margin-right: 3%;
        padding: 3%;
    }

    #account-balance>h5,
    #invested>h5,
    #account-type>h5 {
        font-size: 115%;
    }

    #account-balance {
        background-color: #3c6562;
    }

    #invested {
        background-color: #ed6363;
    }

    #account-type {
        background-color: #63ed63;
    }

    .line-under {
        border-bottom: 1px solid white;
        width: 50%;
    }

    .amount {
        font-size: 180%;
    }

    hr {
        border: 1px solid white;
        width: 15%;
    }


    /* charting */

    .chart {
        clear: both;
    }

    .forex-widget {
        padding-left: 6%;
    }


    /* notification */

    #notification-main {
        border: 1px solid white;
        border-radius: 3px;
        padding: 4%;
        margin-bottom: 10%;
    }

    #notification-header {
        color: white;
        font-size: 150%;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin: 4% 0;
    }

    .notification-body {
        margin: 2%
    }

    .notification-amount {
        padding-left: 9%;
    }

    .success {
        color: #70C869
    }

    .error {
        color: #F54F52;
    }


    /* account settings */

    .account-settings {
        background: url('../images/architecture-buildings-business-city-290595.jpg');
        width: 100%;
        height: 170px;
    }

    .img-white-background {
        width: 100px;
        height: 100px;
        background-color: white;
        float: left;
        clear: right;
        margin: 3%;
    }

    #settings-account-type {
        color: white;
        background: black;
        font-weight: 600;
        padding: 8% 11%;
    }

    #account-name-title {
        float: left;
        margin-top: 4.5%;
    }

    #setting-navigation {
        background-color: white;
    }

    .profile-detail-box {
        background-color: white;
        height: 50px;
        color: black;
        padding: 3%;
        margin-bottom: 5%;
    }

    .profile-title {
        background-color: #70C869;
        padding: 10%;
    }

    .profile-name {
        font-size: 110%;
        /* text-transform: uppercase; */
    }

    #account-section {
        margin: 3% 0;
    }


    /* password */

    #change-password-header {
        background-color: white;
        width: 100%;
        color: black;
        height: 40px;
        padding-left: 3%;
        padding-top: 2%;
        margin-top: 3%;
    }

    #change-password-header>span {
        font-size: 110%;
        font-weight: bold;
    }

     /* rules and agreements */
     #rules-agreement-parallax{
        background: url('../images/office-chair.jpg');
        height: 150px;
        background-position: fixed;
        background-size: cover;
    }

    #rules-agreement-parallax > h3 {
        padding: 20% 2%;
        font-size: 125%;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px;
    }

    .rules-agreement {
        margin:5% 0;
    }

    .rules-agreement > p {
        line-height: 30px;
        font-weight: 300;
        font-size: 89%;
    }
}