{% extends 'base.html' %}
{% load static %}
{% block body %}
<!-- top header -->
    <div class="top-header">

    </div>

    <!-- navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Superior Traders</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
          
        </div>
      </nav>

      <!-- about us parallax -->

      <div id="about-parallax">
          <h3 class="text-center">About Us</h3>
      </div>

      <!-- about section  -->
      <div class="container about">
        <div class="row">
            <div class="col-lg-4" id="about-video">
              <iframe width="300" height="125" src="https://www.youtube.com/embed/lAW5fqkL-Fo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-lg-8" id="about-text">
                <p>Our mission is to act as a catalyst for universal adoption and blockchain innovation. We focus only on investing in cryptocurrency . Our team has experience in both traditional financing and emerging mining technology. </p>
                <p>We invest, among others, in cryptocurrencies such as BTC, XRP, ETC, and ETH. </p>
                <p>We also give a chance to new, dynamically developing ICO projects that bring huge profits in an amazingly short time.</p>
                <p>Our team consists only of qualified people connected with the financial industry for years, who are also passionate about the fledgling but very strong cryptocurrency market and mining technology.</p>
                <p>They constantly monitor the market to provide you (our investors) with even greater profits. </p>
                <p>Having strong relationships with the most promising entrepreneurs and other leading investors in the industry, Superior Traders implements an investment strategy, building a diversified portfolio and adjusting the added value to its portfolio companies.</p>

            </div>
        </div>
      </div>

      <!-- office overview parallax -->
      <h3 class="text-center">OFFICE LAYOUT</h3>
      <div id="office-layout-parallax">

      </div>
{% endblock %}