{% extends 'dashboard/dashboard-base.html' %}
{% block title%} Dashboard {% endblock %}
{% load static %}
{% block dashboard %}

    <div class="wrapper d-flex align-items-stretch">
    {% include 'dashboard/sidebar.html' %}
        
        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5 pt-5">

            
            <!-- slider-chart -->
            <!-- TradingView Widget BEGIN -->
            <div class="tradingview-widget-container">
                <div class="tradingview-widget-container__widget"></div>
                <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
                    {
                        "symbols": [{
                            "proName": "FOREXCOM:SPXUSD",
                            "title": "S&P 500"
                        }, {
                            "proName": "FOREXCOM:NSXUSD",
                            "title": "Nasdaq 100"
                        }, {
                            "proName": "FX_IDC:EURUSD",
                            "title": "EUR/USD"
                        }, {
                            "proName": "BITSTAMP:BTCUSD",
                            "title": "BTC/USD"
                        }, {
                            "proName": "BITSTAMP:ETHUSD",
                            "title": "ETH/USD"
                        }],
                        "colorTheme": "light",
                        "isTransparent": false,
                        "displayMode": "adaptive",
                        "locale": "en"
                    }
                </script>
            </div>
            <!-- TradingView Widget END -->
            <div class="container">
                {% if messages %}
                    {% for message in messages  %}
                    <span class="alert ">
                        {{ message }}
                    </span>    
                    {% endfor %}
                {% endif %}

            </div>

            <div class="greetings">
                <div class="container">
                    <div class="greeting-name wow slideInDown">
                        <h3 class="wow slideInUp" data-wow-duration="1.3s">{{ request.user.username }}</h3>
                        <span>{{ greeting }} </span> <img src="{% static 'images/icons/sunrise.png' %}" alt="" class="ml-3">
                        
                    </div>
                    <div class="account-profile-circle ">
                        <i class="fas fa-user wow lightSpeedIn"></i>
                    </div>
                </div>
            </div>

            <div class="balance-information">
                <!-- desktop dispay  investment data-->
                <div class="container desktop">
                    <!-- balance -->
                    <div id="account-balance" class=" wow bounceInUp">
                        <h5>Balance</h5>
                        {% if balance.amount %}
                        <span class="amount">$ {{ balance.amount }}</span>
                        {% else %}
                        <span class="amount">$ 0</span>
                        {% endif %}
                        <hr>
                        <span>9% from last week</span>
                    </div>

                    <!-- invested -->
                    <div id="invested" class=" wow bounceInUp" data-wow-duration="1.2s">
                        <h5>Invested</h5>
                        {% if invested.amount %}
                        <span class="amount">$ {{ invested.amount }}</span>
                        {% else %}
                        <span class="amount">$ 0</span>
                        {% endif %}
                        <hr>
                        <span>Profit Rate: 8%</span>
                    </div>

                    <!-- Account Type -->

                    <div id="account-type" class=" wow bounceInUp" data-wow-duration="1.5s">
                        <h5>Account Type</h5>
                        {% if type.type %}
                        <span class="amount"> {{ type }}</span>
                        {% else %}
                        <span class="amount">Starter</span>
                        {% endif %}
                        <hr>
                        <span>Trade Account</span>
                    </div>

                    <!-- forex signals  -->
                    <div id="account-type" class=" wow bounceInUp" data-wow-duration="1.5s">
                        <h5>Forex Signals</h5>
                        {% if signals.amount %}
                        <span class="amount">$ {{ signals.amount }}</span>
                        {% else %}
                        <span class="amount">$ 0</span>
                        {% endif %}
                        <hr>
                        <span>80% Accuracy </span>
                    </div>
                </div>

                
                <!-- mobile display investment data-->
                    <div class="container text-center mobile">
                        <div class="owl-carousel owl-theme">
                            <!-- balance -->
                        <div id="account-balance" class="item wow bounceInUp">
                            <h5>Balance</h5>
                            {% if balance.amount %}
                            <span class="amount">$ {{ balance.amount }}</span>
                            {% else %}
                            <span class="amount">$ 0</span>
                            {% endif %}
                            <hr>
                            <span>9% from last week</span>
                        </div>
                        <!-- invested -->
                    <div id="invested" class="item wow bounceInUp" data-wow-duration="1.2s">
                        <h5>Invested</h5>
                        {% if invested.amount %}
                        <span class="amount">$ {{ invested.amount }}</span>
                        {% else %}
                        <span class="amount">$ 0</span>
                        {% endif %}
                        <hr>
                        <span>Profit Rate: 8%</span>
                    </div>

                    <!-- Account Type -->

                    <div id="account-type" class="item wow bounceInUp" data-wow-duration="1.5s">
                        <h5>Account Type</h5>
                        {% if type.type %}
                        <span class="amount"> {{ type }}</span>
                        {% else %}
                        <span class="amount">Starter</span>
                        {% endif %}
                        <hr>
                        <span>Trade Account</span>
                    </div>

                    <!-- forex signals  -->
                    <div id="account-type" class="item wow bounceInUp" data-wow-duration="1.5s">
                        <h5>Forex Signals</h5>
                        {% if signals.amount %}
                        <span class="amount">$ {{ signals.amount }}</span>
                        {% else %}
                        <span class="amount">$ 0</span>
                        {% endif %}
                        <hr>
                        <span>80% Accuracy </span>
                    </div>
                    </div>
                </div>
            </div>

            <!-- chart desktop view -->
            <div class="container chart desktop">
                <div class="row">
                    <div class="col-lg-6">
                         <!-- TradingView Widget BEGIN -->
                         <div class="tradingview-widget-container">
                            <div id="tradingview_b8f4b"></div>
                            <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                            <script type="text/javascript">
                                new TradingView.widget({
                                    "width": 500,
                                    "height": 300,
                                    "symbol": "EURUSD",
                                    "interval": "D",
                                    "timezone": "Etc/UTC",
                                    "theme": "dark",
                                    "style": "3",
                                    "locale": "en",
                                    "toolbar_bg": "#f1f3f6",
                                    "enable_publishing": false,
                                    "allow_symbol_change": true,
                                    "container_id": "tradingview_4118c",

                                });
                            </script>
                        </div>
                        <!-- TradingView Widget END -->
                    </div>
                    <div class="col-lg-6 forex-widget">
                        <!-- TradingView Widget BEGIN -->
                        <div class="tradingview-widget-container">
                            <div class="tradingview-widget-container__widget"></div>
                            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-forex-cross-rates.js" async>
                                {
                                    "width": 400,
                                    "height": 300,
                                    "currencies": [
                                        "EUR",
                                        "USD",
                                        "JPY",
                                        "GBP",
                                        "CHF",
                                        "AUD",
                                        "CAD",
                                        "NZD",
                                        "CNY"
                                    ],
                                    "isTransparent": false,
                                    "colorTheme": "light",
                                    "locale": "en"
                                }
                            </script>
                        </div>
                        <!-- TradingView Widget END -->
                    </div>
                </div>

            </div>

            <!-- mobile display  -->
            <div class="container chart mobile ">
                <div class="row">
                    <div class="col-lg-6">
                        <!-- TradingView Widget BEGIN -->
                        <div class="tradingview-widget-container">
                            <div id="tradingview_b8b62"></div>
                            <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                            <script type="text/javascript">
                            new TradingView.widget(
                            {
                            "width": 350,
                            "height": 300,
                            "symbol": "NASDAQ:AAPL",
                            "interval": "D",
                            "timezone": "Etc/UTC",
                            "theme": "light",
                            "style": "1",
                            "locale": "en",
                            "toolbar_bg": "#f1f3f6",
                            "enable_publishing": false,
                            "allow_symbol_change": true,
                            "container_id": "tradingview_b8b62"
                        }
                            );
                            </script>
                        </div>
                        <!-- TradingView Widget END -->
                    </div>
                    <div class="col-lg-6 forex-widget">
                        <!-- TradingView Widget BEGIN -->
                        <div class="tradingview-widget-container">
                            <div class="tradingview-widget-container__widget"></div>
                            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-forex-cross-rates.js" async>
                                {
                                    "width": 350,
                                    "height": 300,
                                    "currencies": [
                                        "EUR",
                                        "USD",
                                        "JPY",
                                        "GBP",
                                        "CHF",
                                        "AUD",
                                        "CAD",
                                        "NZD",
                                        "CNY"
                                    ],
                                    "isTransparent": false,
                                    "colorTheme": "light",
                                    "locale": "en"
                                }
                            </script>
                        </div>
                        <!-- TradingView Widget END -->
                    </div>
                </div>

            </div>
            <div id="notification-section">
                <div class="container">
                    <h3 id="notification-header">Notifications</h3>
                    <div class="row">
                        <div class="col-lg-7">
                            <div id="notification-main">
                                <div class="row">
                                    <!-- header -->
                                    <div class="col-2">
                                        <h6> Status</h6>
                                    </div>
                                    <div class="col-7">
                                        <h6> Details</h6>

                                    </div>

                                    <div class="col-3">
                                        <h6>Amount</h6>
                                    </div>

                                    <!-- notification body -->
                                    <div id="" class="row notification-body">
                                        <div class="col-2">
                                            <i class="fas fa-circle success"></i>
                                        </div>
                                        <div class="col-7">
                                            <span>
                                                A Deposit of $ 50 has been made to your Account.
                                                </span>
                                        </div>

                                        <div class="col-3 notification-amount">
                                            <span>$ 50</span>
                                        </div>
                                    </div>

                                    <div class="row notification-body">
                                        <div class="col-2">
                                            <i class="fas fa-circle error"></i>
                                        </div>
                                        <div class="col-7">
                                            <span>
                                                A withdrawal of $ 50 has been made to your Account.
                                                </span>
                                        </div>

                                        <div class="col-3 notification-amount">
                                            <span>$ 50</span>
                                        </div>
                                    </div>



                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <!-- TradingView Widget BEGIN -->
                            <div class="tradingview-widget-container">
                                <div class="tradingview-widget-container__widget"></div>
                                <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-screener.js" async>
                                    {
                                        "width": 300,
                                        "height": 300,
                                        "defaultColumn": "overview",
                                        "defaultScreen": "general",
                                        "market": "forex",
                                        "showToolbar": true,
                                        "colorTheme": "dark",
                                        "locale": "en"
                                    }
                                </script>
                            </div>
                            <!-- TradingView Widget END -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
   
{% endblock  %}