{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% load static %}
{% block body %} 

<body>
{% include 'main/navigation.html' %}
    

      <!-- carousel -->
      <div id="indicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#indicators" data-slide-to="0" class="active"></li>
          <li data-target="#indicators" data-slide-to="1"></li>
          <li data-target="#indicators" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="{% static 'images/woman-holding-a-bitcoin-1037912.jpg' %}" alt="First slide">
            <div class="carousel-caption d-md-block">
              <h5>Leverage Crypto and Join the big boys league</h5>
              <p>Crypto Currency makes it easy to watch your investments go Up quickly!</p>
              <a href="{% url 'main:register' %}" class="btn btn-success">INVEST TODAY</a>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{% static 'images/ripple-etehereum-and-bitcoin-and-micro-sdhc-card-844124.jpg' %}" alt="Second slide">
            <div class="carousel-caption d-md-block">
              <h5>Tools That help Inspire your growth</h5>
              <p>With our Easy to use platform, Getting started could not be easier</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{% static 'images/black-blue-and-red-graph-illustration-186461.jpg' %}" alt="Third slide">
            <div class="carousel-caption d-md-block">
              <h5>Unlimited stocks & ETFS</h5>
              <p>At Superior Traders, You can have it All </p>
            </div>
          </div>
        </div>
      </div>

     <div class="about-section text-center">
      <div class="about-left wow slideInLeft">
        <img src="{% static 'images/undraw_nakamoto_2iv6.svg' %}" alt="">
      </div>
      <div class="about-right wow bounceInUp">
       <h2 class="text-center">About Superior Traders 
         <hr class="gen-divider">

       </h2>
       <p>Superior Traders provides our customers with the opportunity to increase their finances in a secure environment without the need to learn complex trading skills. There are no risky enterprises that could make you think about your disappearance, and we are very pleased with the management of safe, profitable conditions in which our customers benefit from minimal fuss and optimal convenience. The Superior Traders Expert team is authorized to provide simple, automated and user-friendly regularity for financing and growth in the rapidly growing cryptocurrency market.</p>
      </div>
    </div> 
    <!-- superior traders operation -->
     <!-- 
       s-t-o = superior-traders-operation
      -->
      <div id="s-t-o-background">
        <div class="container  text-center">
        <h3 id="s-t-o-header"> OUR SERVICES <hr class="gen-divider"> </h3>
        <div class="s-t-o-info">
          <div class="row">
            <div class="col-lg-4">
              <div class="services-image">
                <i class="fas fa-clock"></i>
              </div>
              <div class="services-message">
                <h4>All Day everyday Investing</h4>
                <span>Superior Traders offers around-the-clock service and support in 20 languages.</span>
              </div>
            </div>
            
            <div class="col-lg-4">
              <div class="services-image">
                <i class="fas fa-chart-line"></i>
              </div>
              <div class="services-message">
                <h4>Limit Risk</h4>
                <span>You can preset profit and loss levels by using stop losses or take profit limits when you trade. Determine the maximum amount you are prepared to risk when speculating on the price, or set a price at which you want to take profits. Future orders like Buy Stops and Buy Limits are also available.</span>
              </div>
            </div>
  
            <div class="col-lg-4">
              <div class="services-image">
                <i class="fas fa-user-shield"></i>
              </div>
              <div class="services-message">
                <h4>Unparalled Security</h4>
                <span>With the aid of AES 256-bit encryption, data is Safe and Secure, NO Phishing happens on any level of connection in our pipelines </span>              
              </div>
            </div>
            
  
          </div>
        </div>
      </div>
       </div>
  

     <!-- plans -->
     <div class="plans  ">
       <div class="container">
         <h3 class="plan-header text-center wow fadeInLeft">
           Plans
           <hr class="gen-divider wow bounceInUp">
         </h3>
         <div class="row">
             
             <div class="col-lg-3 text-center">
                 
                 <div class="front-card">
                     <div class="plan-body">
                         <h4 class="plan-header-inner wow rubberBand">Luxury 
                         <hr class="gen-divider">
                         </h4>
                         <h2 class="plan-amount">Min: $ 1,000</h2>
                         <h2 class="plan-amount">Max: $ 50,000</h2>
                         <p class="wow lightSpeedIn"> 
                             <span class="fas fa-check"></span>
                             75% Deposit Bonus
                         </p>
                         <p class="wow lightSpeedIn"> 
                             <span class="fas fa-check"></span>
                             spread 1.9
                         </p>
                         <p class="wow lightSpeedIn"> 
                             <span class="fas fa-check"></span>
                             Negative balance protection
                         </p>
                         <p class="wow lightSpeedIn">
                              <span class="fas fa-check"></span>
                              scalping   
                         </p>
                         <p class="wow lightSpeedIn">
                             <span class="fas fa-check"></span>
                             Daily Signals   
                        </p>
                        <p class="wow lightSpeedIn">
                              <span class="fas fa-check"></span>
                              Financial Plan
                         </p>
                         <a href="" class="btn btn-success plan-button">Sign Up</a>
                     </div>
                 </div>
             </div>
 
             <div class="col-lg-3 text-center">
                 <div class="front-card">
                     <div class="plan-body">
                         <h4 class="plan-header-inner wow rubberBand"> VIP 
                         <hr class="gen-divider">
                         </h4>
                         <h2 class="plan-amount">Min: $ 50,000</h2>
                         <h2 class="plan-amount">Max: $ 75,000</h2>
                         <p class="wow lightSpeedIn"> 
                             <span class="fas fa-check"></span>
                             95% Deposit Bonus
                         </p>
                         <p class="wow lightSpeedIn"> 
                             <span class="fas fa-check"></span>
                             spread 1.5
                         </p>
                         <p class="wow lightSpeedIn"> 
                             <span class="fas fa-check"></span>
                             Negative balance protection
                         </p>
                         <p class="wow lightSpeedIn">
                                 <span class="fas fa-check"></span>
                                 scalping   
                         </p>
                         <p class="wow lightSpeedIn">
                             <span class="fas fa-check"></span>
                             Daily Signals   
                         </p>
                         <p class="wow lightSpeedIn">
                                 <span class="fas fa-check"></span>
                                 Financial Plan
                         </p>
                         <a href="" class="btn btn-success plan-button">Sign Up</a>
                     </div>
                 </div>
             </div>                    
             
             <div class="col-lg-3 text-center">
                 <div class="front-card">
                     <div class="plan-body">
                         <h4 class="plan-header-inner wow rubberBand">VIP Luxury
                           <hr class="gen-divider">

                         </h4>
                         <h2 class="plan-amount">Min: $ 75,000</h2>
                         <h2 class="plan-amount">Max: $ 150,000</h2>
                         <p class="wow lightSpeedIn"> 
                             <span class="fas fa-check"></span>
                             120% Deposit Bonus
                         </p>
                         <p class="wow lightSpeedIn"> 
                             <span class="fas fa-check"></span>
                             spread 0.6
                         </p>
                         <p class="wow lightSpeedIn"> 
                             <span class="fas fa-check"></span>
                             Negative balance protection
                         </p>
                         <p class="wow lightSpeedIn">
                              <span class="fas fa-check"></span>
                              scalping   
                         </p>
                         <p class="wow lightSpeedIn">
                             <span class="fas fa-check"></span>
                             Daily Signals   
                        </p>
                        <p class="wow lightSpeedIn">
                              <span class="fas fa-check"></span>
                              Financial Plan
                         </p>
                         <a href="" class="btn btn-success plan-button">Sign Up</a>
                     </div>
                 </div>
             </div>
 
             <div class="col-lg-3 text-center">
                 <div class="front-card">
                     <div class="plan-body">
                         <h4 class="plan-header-inner wow rubberBand">SILVER
                           <hr class="gen-divider">

                         </h4>
                         <h2 class="plan-amount">Min: $ 150,000</h2>
                         <h2 class="plan-amount">$ 350,000</h2>
                         <p class="wow lightSpeedIn"> 
                             <span class="fas fa-check"></span>
                             120% Deposit Bonus
                         </p>
                         <p class="wow lightSpeedIn"> 
                             <span class="fas fa-check"></span>
                             spread 1.9
                         </p>
                         <p class="wow lightSpeedIn"> 
                             <span class="fas fa-check"></span>
                             Negative balance protection
                         </p>
                         <p class="wow lightSpeedIn">
                              <span class="fas fa-check"></span>
                              scalping   
                         </p>
                         <p class="wow lightSpeedIn">
                             <span class="fas fa-check"></span>
                             Daily Signals   
                        </p>
                        <p class="wow lightSpeedIn">
                              <span class="fas fa-check"></span>
                              Financial Plan
                         </p>
                         <a href="" class="btn btn-success plan-button">Sign Up</a>
                     </div>
                 </div>
             </div>
         </div>
     </div>  
     </div>
     

     <!-- crypto chart and support information -->

         <section>
           <div class="btc-sect">
             <h2 class="text-center">Bitcoin Chart
           <hr class="gen-divider">

             </h2>
             <div class="btcwdgt-chart" bw-noshadow="true"></div>
           </div>
           <div id="support-section"  class="text-center">
             <h3>Need Support?
               <hr class="gen-divider">
             </h3>
             <span>Reach out <br>  info@superior-traders.com</span>
           </div>
         </section>

    <!-- Testimonials -->
    <div class="testimonials">
      <div class="container">
        <h3 class="text-center testimonial-header">
          Testimonials
          <hr class="gen-divider">
        </h3>
        <div class="owl-carousel owl-theme">
          <div class="row item">
            <div class="col-lg-4">
              <img src="{% static '/images/mature-male-entrepreneur-touching-screen-of-tablet-in-modern-3931636.jpg' %}" alt="" class="testifier-image">
            </div>
            <div class="col-lg-8">
              <div class="testifier-text">
                <p>It's quite easy to make payments to and from this site. There are different payment gateways that are secured and easy to use. So far I have made a shit ton of money trading with this site. Thank you superior traders.</p>
              </div>
              <div class="testifier-name">
                <span>- Jude Robertson</span>
              </div>
            </div>
          </div>
  
          <div class="row item">
            <div class="col-lg-4">
              <img src="{% static 'images/serious-ethnic-young-woman-using-laptop-at-home-3768911.jpg' %}" alt="" class="testifier-image">
            </div>
            <div class="col-lg-8">
              <div class="testifier-text">
                <p>I joined superior traders 2019. This broker is quite good in speed of execution, no requotes and very low spreads. A huge win with superior traders is that it's a fast paying site without any form of delays.</p>
              </div>
              <div class="testifier-name">
                <span>- Latifa Jeremy</span>
              </div>
            </div>
          </div>
  
          <div class="row item">
            <div class="col-lg-4">
                          <img src="{% static '/images/focus.jpg' %}" alt="" class="testifier-image">
            </div>
            <div class="col-lg-8">
              <div class="testifier-text">
                <p>Great team with prestige, hard working account managers. They pay according to your plan and investment you make with no cheating or any form of  loses. They allow you grow from one stage to another. Superior trades is where I make my money.</p>
              </div>
              <div class="testifier-name">
                <span>- Zakariya Hunter</span>
              </div>
            </div>
          </div>
        </div>        
      </div>
    </div>
{% endblock %}         