{% extends 'base.html' %}
{% block title %} Login {% endblock %}
{% block  body %}
{% load static %}
{% load widget_tweaks %}

    <div id="login-main-background">
        <div id="login-form-area">
            <div id="login-img">
            </div>
            <div id="login-form">
                <h3 class="text-center">LOGIN</h3>
                <div class="container">
                <form class="form-group" method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="row">
                            <div class="col-lg-12">
                                
                                <label for="" >{{ field_label_tag }}</label>
                                {{ field|add_class:'form-control' }}
                            </div>
                        </div>
                    {% endfor %}
                    <!-- <label for="">Name</label>
                    <input type="text" class="form-control" id="">

                    <label for="">Password</label>
                    <input type="password" class="form-control" id=""> -->

                    <button type="submit" class="btn btn-success sign-in-button">LOGIN</button>
                </form>
                <div class="row">
                    <div class="col-lg-8">
                        <span>Don't have an account Yet</span>
                        <br>
                        <a href="">Register</a>
                    </div>
                    <div class="col-lg-4">
                        Go <a href=""> Home </a>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}