{% extends 'base.html' %}
{% block title %} Register {% endblock %}
{% block body %}
{% load static %}
{% load widget_tweaks %}
    <!-- modified  -->
    <div id="registration-main-background">
        <div id="registration-form-area">
            <div id="registration-img">
            </div>
            <div id="registration-form">
                <h3 class="text-center">Registration</h3>
                <div class="container">
                    <form class="form-group" method="POST" action="" enctype="multipart/form-data">
                        <div class="row">

                            {% for field in form.visible_fields %}
                            {% csrf_token %}
                            <div class="col-lg-6">
                                    {% for error in field.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                <label for="{{ field.id_for_label }}">{{ field.label_tag}}</label>
                                {{ field|add_class:'form-control' }}
                            </div>
                            {% endfor %}
                            <div class="col-lg-6">
                                <label for="">{{ profile.country.label_tag }} </label>
                                {{ profile.country|add_class:'form-control' }}
                            </div>
                            <div class="col-lg-6">
                                <label for="">{{ profile.profile_picture.label_tag }} </label>
                                {{ profile.profile_picture|add_class:'form-control' }}
                            </div>
                            <div class="col-lg-12">
                                <label for="">{{ profile.phone_number.label_tag }} </label>
                                {{ profile.phone_number|add_class:'form-control' }}
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success sign-in-button">REGISTER</button>
                    </form>
                    <div class="row">
                        <div class="col-lg-8">
                            <span>Have an account ?</span>
                            <br>
                            <a href="{% url 'login' %}">Login</a>
                        </div>
                        <div class="col-lg-4">
                            Go <a href="{% url 'main:index' %}"> Home </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
    