{% extends "base.html" %}
{% block body %}
  
<body>
    <!-- top header -->
    <div class="top-header">

    </div>

    <!-- navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Superior Traders</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'main:dashboard' %}">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'main:logout' %}">Logout</a>
          </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'main:register' %}">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'main:login' %}">Login</a>
        </li>

        {% endif %}
        {% comment %} <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li> -->
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li> {% endcomment %}
      </ul>
      
    </div>
  </nav>

      <!-- rules and agreement parallax -->

      <div id="rules-agreement-parallax">
          <h3 class="text-center">Rules & Agreements</h3>
      </div>
      <div class="container rules-agreement">
        <p>Please read the following rules carefully before signing in.</p>

        <p>You agree to be of legal age in your country to partake in this program, and in all the cases your minimal age must be 18 years.</p>
        
        <p>Superior Traders LTD is not available to the general public and is opened only to the qualified members of Superior Traders LTD, the use of this site is restricted to our members and to individuals personally invited by them. Every deposit is considered to be a private transaction between the Superior Traders LTD and its Member.</p>
        
        <p>We are not FDIC insured. We are not a licensed bank or a security firm.</p>
        
        <p>You agree that all information, communications, materials coming from Superior Traders LTD are unsolicited and must be kept private, confidential and protected from any disclosure. Moreover, the information, communications and materials contained herein are not to be regarded as an offer, nor a solicitation for investments in any jurisdiction which deems non public offers or solicitations unlawful, nor to any person to whom it will be unlawful to make such offer or solicitation.</p>
        
        <p>All the data giving by a member to Superior Traders LTD will be only privately used and not disclosed to any third parties. Superior Traders LTD is not responsible or liable for any loss of data.</p>
        
        <p>You agree to hold all principals and members harmless of any liability. You are investing at your own risk and you agree that a past performance is not an explicit guarantee for the same future performance. You agree that all information, communications and materials you will find on this site are intended to be regarded as an informational and educational matter and not an investment advice.</p>
        
        <p>We reserve the right to change the rules, commissions and rates of the program at any time and at our sole discretion without notice, especially in order to respect the integrity and security of the members' interests. You agree that it is your sole responsibility to review the current terms.</p>
        
        <p>Superior Traders LTD is not responsible or liable for any damages, losses and costs resulting from any violation of the conditions and terms and/or use of our website by a member. You guarantee to Superior Traders LTD that you will not use this site in any illegal way and you agree to respect your local, national and international laws.</p>
        
        <p>Don't post bad vote on Public Forums and at Gold Rating Site without contacting the administrator of our program FIRST. Maybe there was a technical problem with your transaction, so please always CLEAR the thing with the administrator.</p>
        
        <p>We will not tolerate SPAM or any type of UCE in this program. SPAM violators will be immediately and permanently removed from the program.</p>
        
        <p>Superior Traders LTD reserves the right to accept or decline any member for membership without explanation.</p>
        
        <p>If you do not agree with the above disclaimer, please do not go any further.</p>
        <p>NOTE:</p>
        
        <p>You should not deposit lower than your previous withdrawal unless you are on the VIP Plan</p>
        <p>An upgrade is needed at a certain stage of your deposits and withdrawals</p>
        <p>If bonus is given , a percentage clause is needed for its withdrawal</p>
      </div>
{% endblock body %}
