{% extends 'dashboard/dashboard-base.html' %}
{% block title %}Withdraw{% endblock %}
{% load widget_tweaks %}
{% block dashboard %}

    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                        <i class="fa fa-bars"></i>
                        <span class="sr-only">Toggle Menu</span>
                    </button>
            </div>
            <div class="p-4">
                {% include 'dashboard/sidebar.html' %}

            </div>
        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5 pt-5">
            
               <!-- slider-chart -->
            <!-- TradingView Widget BEGIN -->
            <div class="tradingview-widget-container ">
                <div class="tradingview-widget-container__widget"></div>
                <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
                    {
                        "symbols": [{
                            "proName": "FOREXCOM:SPXUSD",
                            "title": "S&P 500"
                        }, {
                            "proName": "FOREXCOM:NSXUSD",
                            "title": "Nasdaq 100"
                        }, {
                            "proName": "FX_IDC:EURUSD",
                            "title": "EUR/USD"
                        }, {
                            "proName": "BITSTAMP:BTCUSD",
                            "title": "BTC/USD"
                        }, {
                            "proName": "BITSTAMP:ETHUSD",
                            "title": "ETH/USD"
                        }],
                        "colorTheme": "light",
                        "isTransparent": false,
                        "displayMode": "adaptive",
                        "locale": "en"
                    }
                </script>
            </div>
            <!-- TradingView Widget END -->
            
            <div class="greetings greeting-deposit">
                <div class="container">
                    <div class="greeting-name wow slideInDown">
                        <h3 class="wow slideInUp" data-wow-duration="1.3s">User</h3>
                        <span>Good Morning </span> <img src="./static/images/icons/sunrise.png" alt="" class="ml-3">
                    </div>
                    <div class="account-profile-circle ">
                        <i class="fas fa-user wow lightSpeedIn"></i>
                    </div>
                </div>
            </div>

            <br>

            <div class="withdrawal-balance-info-background">
                <div class="container">
                        <div class="withdrawal-balance-name">
                            <h3>Balance</h3>
                            {% if balance %}
                            <span>$ {{ balance.amount }}</span>
                           {% else %}
                            <span>$ 0.00</span>
                           {% endif %}
                        </div>
                        
                </div>                
            </div>

            <div class="withdrawal-content-background ">
                <div class="container">
                    <div class="withdrawal-container-box">
                        <h3 class="text-center">Fill in details to make Withdrawal</h3>
                        <div id="withdrawal-wrapper">
                            <form action="" class="form-group" id="withdrawal-form-box" method="POST">
                                {% csrf_token %}
                                <label for="">{{ form.amount.label_tag }} </label>
                                {{ form.amount|add_class:'form-control' }}
                                <label for="">{{ form.password.label_tag }} </label>
                                {{ form.password|add_class:'form-control' }}
    
                                <button type="submit" class="btn btn-success btn-block" id="main-withdraw-button">withdraw</button>
                            </form>
                        </div>
                    </div>                     
                </div>
            </div>
        </div>
    {% endblock %}